h1{
    display:none;
}

h2{
    text-align:center;
}

ul li{
    margin:2em 0;
}

.navbar{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 2rem;
}

.navbar .menu, .navbar .isologo-small{
    display:flex;
    align-items:center;    
}

.navbar .menu .menu-item{
    margin: 0 2rem;
    color: black;
    text-decoration:none;
}

.navbar .menu .menu-item:hover{
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    transition:0.2s;

}

.navbar .menu{
    align-items:center;
    flex-wrap: wrap;
}

.navbar .isologo-small{
    flex-direction: row-reverse;
    flex-wrap: wrap;
}


.isotipo-index{
    display: inline;
    white-space:nowrap;
    text-align:center;
    margin-right:1em;
}

.main-logo-small{
    display: inline;
    margin-left:auto;
    margin-right:auto;
}

header{
    margin-bottom:4em;
}

.seccion-inicio{
    display:flex;
    align-items: flex-start;
    flex-wrap:wrap;
    margin: 5rem 0;
    padding: 2rem 2rem;
    background-image: linear-gradient(to right,white 0%, grey 95%);
}

 section .producto-detalles{
    color: gray;
    min-width:200px;
    width:40%;
    text-align: left;
 }

 section aside{
    min-width:200px;
    width: 40%;
  
}

.producto-screenshot{
    max-width:100%;
    height: auto;
}

.mensaje-sistema{
    display:block;
    font-style:bold;
    color:gray;
}

.form-input{
    display: block;
    margin: 0 auto;
}

.form-button{
    display: block;
    margin: 0 auto;
    margin-top:3em;
    background-color:white;
    height:4em;
    width:6em;
    border-radius: 10px 10px 10px 10px;
    
}

.inline-form-button{
    margin: 0 auto;
    background-color:white;
    height:2.5em;
    width:6em;
    border-radius: 10px 10px 10px 10px;
    
}

.sombreado{
    display:inline-block;
    background-image: linear-gradient(to right,white 0%, grey 95%);
    width:100%;
    text-align:right;
    font-style:italic;
}

.error-centrado{
    text-align:center;
}

.centrado{
    text-align:center;
}

.seleccionado{
    font-weight:bold;
    text-decoration-line: underline;
}