:root{
    --color-estandar:#abe6ff;

}

body{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}

h1{
    display:none;
}

h2{
    text-align:center;
}

ul{
    list-style-type: none;
    padding:0;
}

ul li{
    margin:2em 0;
}

.modal-content{
    background-color:var(--color-estandar);
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    margin-top:1.7rem;    
}


.navbar{
    padding:0;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.navbar .menu, .navbar{
    display:flex;
    align-items:center;    
}

.menu .menu-item{
    margin: 0 2rem;
    color: black;
    text-decoration:none;
}

.navbar .menu{
    align-items:center;
    flex-wrap: wrap;
}

.isologo-small {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    /* margin-bottom: 20px;  */
}

.isotipo-index {
    margin-right: 10px; 
    font-weight: bold; 
}

.main-logo-small {
    width: 85%; 
    height: auto; 
}


.alert {
    font-size: 1.1em; /* Aumenta el tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados */
}


.seccion-inicio{
    min-height:1000px;
    margin: 0;
    /* padding: 2rem 2rem; */
    padding: 2rem 0;
    background-image: linear-gradient(to top,white 0%, var(--color-estandar) 95%);
    width:100%;

}

.transparencia{
    background-color:rgba(255,255,255,0.5);
    width:100%;
    display:flex;
    align-items: flex-start;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:2rem 0;
}


.isotipo-index{
    margin:1rem 0 0;
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    font-size:xx-large;
}

.iso-font{
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    font-size:x-large;
}

 section .producto-detalles{
    margin-left:2rem;
    color: black;
    min-width:200px;
    width:40%;
    text-align: left;
    font-size:x-large;
 }

 .producto-detalles > h3:nth-child(2){
    font-size:2rem;
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
 }

 .producto-detalles > p:nth-child(3){
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    margin-top:1.7rem;
 }

 section aside{
    min-width:200px;
    width: 50%;
    /* margin-top:2rem; */
  
}


.boton-con-check{
    margin:2rem 0;
    display:flex;
    flex-direction:column;
    row-gap:2rem;
    width:100%;
}

.alert{
    margin-bottom:0;
}

.area-usuarios{
    padding-top:2rem;
    background-image: linear-gradient(to top,white 0%, var(--color-estandar) 95%);
}

.area-tareas{
    padding-top:2rem;
    background-image: linear-gradient(to top,white 0%, var(--color-estandar) 95%);
}

.tareas-asignadas{
    flex-direction:column;
    padding-left:2rem;
    padding-right:2rem;
    border-radius:4%;
}

.label-fecha{
    width:6rem;
}

.gestion-usuarios{
    width:35rem;
    min-height:100%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:4rem;
    row-gap:1rem;
}

#mostrareliminados{
    margin-top:1rem;
}

.resultadoUsuarios{
    width:30rem;
}

article.tabla-resultados{
    width:30rem;
    margin:0 auto;
    padding: 10px;
    display:block;
}

table.tabla-resultados{
    width:100%;
}


article.tabla-no-centrada{
    width:100%;
    margin:0;
}


.busqueda-tareas{
    margin-top:2rem;
}

.resultado-tareas{
    width:100%;
}

.campo-busqueda{
    width:80%;
    display:flex;
    flex-direction:column;
}

.search-input{
    width:100%;
}


.campo-resultados{
    text-align:left;
    width: auto;
    border-bottom: 1px solid black;
    padding: .5rem .3rem;
}

.columna-ajustada{
    width: 1%;
    white-space:nowrap;
    padding: 0 .5rem;
}

article{
    display:flex;
}

article.tareas{
    flex-direction:row;
    justify-content: space-evenly;
    /* border-style: solid;
    border-width: thin;
    border-radius: 1%; */
    margin: 1rem 1rem;
}

article.usuarios{
    flex-direction:column;
    align-items:center;

}

.formulario-edicion{
    margin:3rem 3rem;

}

.formulario-fileupload{
    width: 40rem;
    border-style:solid;
    border-width:thin;

}

.icono{
    height:2rem;
}


.producto-screenshot{
    max-width:100%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
}

.mensaje-sistema{
    display:block;
    font-style:bold;
    color:gray;
}

.form-input{
    display: block;
    margin: 0 auto;
}

.form-button{
    display: block;
    margin: 0 auto;
    margin-top:3em;
    background-color:white;
    height:4em;
    width:6em;
    border-radius: 10px 10px 10px 10px;
    
}

.inline-form-button{
    margin: 0 auto;
    background-color:white;
    height:2.5em;
    width:6em;
    border-radius: 10px 10px 10px 10px;
    
}


footer{
    /* position:absolute;
    bottom:0; */
    position:relative;
    bottom:0;
    width:100%;
    height:250px;
    background-image: linear-gradient(to bottom,white 0%, var(--color-estandar) 95%);

}

.sombreado{
    display:inline-block;
    background-image: linear-gradient(to right,white 0%, grey 95%);
    width:100%;
    text-align:right;
    font-style:italic;
}

.error-centrado{
    text-align:center;
}

.centrado{
    text-align:center;
}

.seleccionado{
    font-weight:bold;
    text-decoration-line: underline;
}


@keyframes atencion {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


.animacion-mail {
    display: inline-block;
    animation-name: atencion;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: center; 
}


@media(max-width: 859px){
    .seccion-inicio{
        flex-direction: column;
        flex-flow: column-reverse;
        align-items: flex-start;
    }

    section aside{
        width: 90%;
        margin: 2rem auto 0 auto;
    }
    
    section .producto-detalles{
        width:90%;
     }

     .navbar{
        flex-flow:column-reverse;
        justify-content: space-around;
        min-height:200px;
    }


    .seccion-inicio{
        min-height:600px;
        align-items:flex-start;
        justify-content: flex-end;
    }






}

@media(max-width: 500px){
    .isologo-small {
        flex-flow:column-reverse;
    }


    .menu{
        width:100%;
        margin:2rem 0;
        flex-flow:column;
        align-items:center;    
    }

    .boton-responsive{
        width:80%;
        height:3rem;
        margin:0.3rem 0;
    }
    
    /* .menu .menu-item{
        margin: 0 2rem;
        color: black;
        text-decoration:none;
    }
    
    .navbar .menu{
        align-items:center;
        flex-wrap: wrap;
    } */



}