h1{
    display:none;
}

h2{
    text-align:center;
}

h3{
    display:inline-block;
    background-image: linear-gradient(to right,white 0%, grey 95%);
    width:100%;
    text-align:right;
    font-style:italic;
}

ul li{
    margin:2em 0;
}

.isotipo{
    text-align:center;
}

.main-logo{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

header{
    margin-bottom:4em;
}

.mensaje-sistema{
    display:block;
    font-style:bold;
    color:gray;
}

.form-input{
    display: block;
    margin: 0 auto;
}

.form-button{
    display: block;
    margin: 0 auto;
    margin-top:3em;
    background-color:white;
    height:4em;
    width:6em;
    border-radius: 10px 10px 10px 10px;
    
}

.inline-form-button{
    /* display: block; */
    margin: 0 auto;
    /* margin-top:3em; */
    background-color:white;
    height:2.5em;
    width:6em;
    border-radius: 10px 10px 10px 10px;
    
}

.error-centrado{
    text-align:center;
}

.centrado{
    text-align:center;
}